Flows/flows_TUI.json
[{"id":"fb3a2db5.2316c","type":"tab","label":"flow_TUI","disabled":false,"info":""},{"id":"4cb085ec.b092ec","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcX","topic":"AMI_TO_TUI/Accelerometer/x","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":100,"wires":[["dceca24a.e227","42ab6843.ca7728"]]},{"id":"d814c8df.6461d8","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcY","topic":"AMI_TO_TUI/Accelerometer/y","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":140,"wires":[["472bbfd1.a61bf","352a648.cd7af9c"]]},{"id":"df611097.aace7","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcZ","topic":"AMI_TO_TUI/Accelerometer/z","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":180,"wires":[["5363d791.f5ac18","cd2b7b34.01fbd8"]]},{"id":"dceca24a.e227","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc X","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":80,"wires":[]},{"id":"472bbfd1.a61bf","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc Y","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"5363d791.f5ac18","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc Z","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"cd2b7b34.01fbd8","type":"function","z":"fb3a2db5.2316c","name":"ToVarZ","func":"var AcZ = parseFloat(msg.payload);\nflow.set('AcZ', AcZ);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[[]]},{"id":"3e90e12c.fdc93e","type":"inject","z":"fb3a2db5.2316c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":520,"wires":[["fec15e75.a212a","ed3eeaed.7bd708","d3f4819e.ac1b7","63453a9e.86afc4","25a82d21.32d0d2","c6fca24.f1ef76"]]},{"id":"fec15e75.a212a","type":"change","z":"fb3a2db5.2316c","name":"AcY-COLORCHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["5a9d39aa.061b98"]]},{"id":"42ab6843.ca7728","type":"function","z":"fb3a2db5.2316c","name":"ToVarX","func":"var AcX = parseFloat(msg.payload);\nflow.set('AcX', AcX);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[[]]},{"id":"ad804d9d.e22d1","type":"websocket out","z":"fb3a2db5.2316c","name":"","server":"","client":"c67cc878.436548","x":1410,"y":540,"wires":[]},{"id":"356b2391.b11c3c","type":"change","z":"fb3a2db5.2316c","name":"DECREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DECREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":580,"wires":[["ad804d9d.e22d1"]]},{"id":"aee10e6c.65772","type":"change","z":"fb3a2db5.2316c","name":"INCREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"INCREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[["ad804d9d.e22d1"]]},{"id":"ed3eeaed.7bd708","type":"change","z":"fb3a2db5.2316c","name":"AcX-IN/DECREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["8eb86b9b.40a528"]]},{"id":"8eb86b9b.40a528","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"num"},{"t":"lt","v":"-8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":600,"wires":[["356b2391.b11c3c"],["aee10e6c.65772"]]},{"id":"352a648.cd7af9c","type":"function","z":"fb3a2db5.2316c","name":"ToVarY","func":"var AcY = parseFloat(msg.payload);\nflow.set('AcY', AcY);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[[]]},{"id":"d3f4819e.ac1b7","type":"change","z":"fb3a2db5.2316c","name":"AcY - TURNON/OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["b52dae28.99195"]]},{"id":"b52dae28.99195","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":500,"wires":[["51a7c829.931068"],["21dc2edb.c9cf82"]]},{"id":"51a7c829.931068","type":"change","z":"fb3a2db5.2316c","name":"TURN_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":480,"wires":[["da92a176.3980e"]]},{"id":"21dc2edb.c9cf82","type":"change","z":"fb3a2db5.2316c","name":"TURN_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":520,"wires":[["da92a176.3980e"]]},{"id":"da92a176.3980e","type":"function","z":"fb3a2db5.2316c","name":"Send only if change","func":"\nvar oldOnOff = flow.get('oldOnOff'); \nif (oldOnOff===undefined) {\n    oldOnOff=\"TURN_OFF\";\n    if(msg.payload == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n    }\n    if(msg.payload == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n    }\n}\nelse{\n    if(msg.payload == \"TURN_OFF\" && flow.get('oldOnOff') == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n        msg.payload = \"TURN_OFF\"; \n        return msg;\n    }\n    if(msg.payload == \"TURN_ON\" && flow.get('oldOnOff') == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n        msg.payload = \"TURN_ON\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":500,"wires":[["ad804d9d.e22d1","2c73597a.ed6806"]]},{"id":"5a9d39aa.061b98","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-8","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":400,"wires":[["4214492.e02a4b8"],["3429abc.fa4f154"]]},{"id":"4214492.e02a4b8","type":"change","z":"fb3a2db5.2316c","name":"CHANGE_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"CHANGE_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[["8dc54515.bf6bc8"]]},{"id":"3429abc.fa4f154","type":"change","z":"fb3a2db5.2316c","name":"KEEP_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEEP_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["8dc54515.bf6bc8"]]},{"id":"8dc54515.bf6bc8","type":"function","z":"fb3a2db5.2316c","name":"Send only if change","func":"\nvar oldColor = flow.get('oldColor'); \nif (oldColor===undefined) {\n    oldColor=\"CHANGE_COLOR\";\n    if(msg.payload == \"CHANGE_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n    }\n    if(msg.payload == \"KEEP_COLOR\"){\n        flow.set('oldColor', \"KEEP_COLOR\"); \n    }\n}\nelse{\n    if(msg.payload == \"CHANGE_COLOR\" && flow.get('oldColor') == \"KEEP_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n        msg.payload = \"CHANGE_COLOR\"; \n        return msg;\n    }\n    if(msg.payload == \"KEEP_COLOR\" && flow.get('oldColor') == \"CHANGE_COLOR\"){\n        flow.set('oldColor', \"KEEP_COLOR\"); \n        msg.payload = \"KEEP_COLOR\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["ad804d9d.e22d1","2c73597a.ed6806"]]},{"id":"8be570f0.2004e","type":"change","z":"fb3a2db5.2316c","name":"ALL_DEVICES","rules":[{"t":"set","p":"payload","pt":"msg","to":"ALL_DEVICES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":700,"wires":[["fd9f2850.2a5098"]]},{"id":"a654a603.9fe368","type":"change","z":"fb3a2db5.2316c","name":"ONE_DEVICE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ONE_DEVICE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":740,"wires":[["fd9f2850.2a5098"]]},{"id":"63453a9e.86afc4","type":"change","z":"fb3a2db5.2316c","name":"AcX - MODE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcZ","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":720,"wires":[["fc573c72.912db"]]},{"id":"fc573c72.912db","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"num"},{"t":"lt","v":"-8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":720,"wires":[["8be570f0.2004e"],["a654a603.9fe368"]]},{"id":"fd9f2850.2a5098","type":"function","z":"fb3a2db5.2316c","name":"Send only if change","func":"\nvar oldMode =  flow.get('mode'); \nif (oldMode===undefined) {\n    oldMode=\"ALL_DEVICES\";\n    if(msg.payload == \"ALL_DEVICES\"){\n        flow.set('mode', \"ALL_DEVICES\"); \n    }\n}\nelse{\n    if(msg.payload == \"ALL_DEVICES\" && flow.get('mode') == \"ONE_DEVICE\"){\n        flow.set('mode', \"ALL_DEVICES\"); \n        msg.payload = \"ALL_DEVICES\"; \n        return msg;\n    }\n    if(msg.payload == \"ONE_DEVICE\" && flow.get('mode') == \"ALL_DEVICES\"){\n        flow.set('mode', \"ONE_DEVICE\"); \n        msg.payload = \"ONE_DEVICE\"; \n        return msg;\n    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":720,"wires":[["2c73597a.ed6806","ad804d9d.e22d1"]]},{"id":"2c73597a.ed6806","type":"debug","z":"fb3a2db5.2316c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":620,"wires":[]},{"id":"8fef1143.3699f","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcX","topic":"AMI_TO_TUI/Gyroscope/x","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":850,"y":100,"wires":[["957cb5e1.d7c048","19555e5f.054172"]]},{"id":"b31f7a08.13e958","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcY","topic":"AMI_TO_TUI/Gyroscope/y","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":850,"y":140,"wires":[["f4c55ddc.06982","6aa77e73.6e493"]]},{"id":"5fffdec6.bf57c","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcZ","topic":"AMI_TO_TUI/Gyroscope/z","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":850,"y":180,"wires":[["635d2c6e.d2d834","9985f5f0.ded458"]]},{"id":"957cb5e1.d7c048","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyroscope X","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":100,"wires":[]},{"id":"f4c55ddc.06982","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyroscope Y","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":140,"wires":[]},{"id":"9985f5f0.ded458","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyroscope Z","label":"units","format":"{{value}}","min":"-1","max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":180,"wires":[]},{"id":"25a82d21.32d0d2","type":"change","z":"fb3a2db5.2316c","name":"GyZ - DEVICESELECT","rules":[{"t":"set","p":"payload","pt":"msg","to":"GyZ","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":820,"wires":[["adbcba76.d9ca58"]]},{"id":"635d2c6e.d2d834","type":"function","z":"fb3a2db5.2316c","name":"ToVarZ","func":"var GyZ = parseFloat(msg.payload);\nflow.set('GyZ', GyZ);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":300,"wires":[[]]},{"id":"adbcba76.d9ca58","type":"function","z":"fb3a2db5.2316c","name":"Right/Left","func":"\nif (flow.get('deviceselect')===undefined) {\n    flow.set('deviceselect', \"LEFT\");\n}\nif (flow.get('deviceselectallowed')===undefined) {\n    flow.set('deviceselectallowed', \"TRUE\");\n}\n\nif(flow.get('mode') == \"ONE_DEVICE\"){\n    if(msg.payload > 1  && flow.get('deviceselectallowed') == \"TRUE\"){\n        flow.set('deviceselect', \"RIGHT\");\n        flow.set('deviceselectallowed', \"FALSE\")\n        setTimeout(function(){ flow.set('deviceselectallowed', \"TRUE\") }, 2000);\n        msg.payload = \"RIGHT\"; \n        return msg;\n        \n    }\n    if(msg.payload < -1 && flow.get('deviceselectallowed') == \"TRUE\"){\n        flow.set('deviceselect', \"LEFT\");\n        flow.set('deviceselectallowed', \"FALSE\")\n        setTimeout(function(){ flow.set('deviceselectallowed', \"TRUE\") }, 2000);\n        msg.payload = \"LEFT\"; \n        return msg;\n    }\n    \n}\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":820,"wires":[["ad804d9d.e22d1","2c73597a.ed6806"]]},{"id":"c6fca24.f1ef76","type":"function","z":"fb3a2db5.2316c","name":"Is it shaking","func":"SHAKE_THRESHOLD = 800;\nif(flow.get('lastX') === undefined){\n    lastX = 0;\n    lastY = 0;\n    lastZ = 0;\n}\nelse{\n    lastX = flow.get('lastX');\n    lastY = flow.get('lastY');\n    lastZ = flow.get('lastZ');\n}\nif(flow.get('shakeallowed') ===undefined){\n    flow.set('shakeallowed', \"TRUE\")\n}\nx = flow.get('GyX');\ny = flow.get('GyY');\nz = flow.get('GyZ');\nspeed = Math.abs(x+y+z- lastX - lastY - lastZ) / 250 * 10000;\nlastX = flow.set('lastX', flow.get('AcX'));\nlastY = flow.set('lastY', flow.get('AcY'));\nlastZ = flow.set('lastZ', flow.get('AcZ'));\n\n\nif (speed > SHAKE_THRESHOLD && flow.get('shakeallowed') == \"TRUE\") {\n    flow.set('shakeallowed', \"FALSE\")\n    setTimeout(function(){ flow.set('shakeallowed', \"TRUE\") }, 2000);\n    msg.payload = \"SHAKE\"; \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":980,"wires":[[]]},{"id":"6aa77e73.6e493","type":"function","z":"fb3a2db5.2316c","name":"ToVarZ","func":"var GyY = parseFloat(msg.payload);\nflow.set('GyY', GyY);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":260,"wires":[[]]},{"id":"19555e5f.054172","type":"function","z":"fb3a2db5.2316c","name":"ToVarX","func":"var GyX = parseFloat(msg.payload);\nflow.set('GyX', GyX);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":220,"wires":[[]]},{"id":"e1ad3e.c89042c","type":"mqtt-broker","name":"Mqtt broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e28a92f.0e5918","type":"ui_group","name":"Skupina 2","tab":"cbeee18a.5894e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c67cc878.436548","type":"websocket-client","path":"ws://localhost:3000","tls":"","wholemsg":"false"},{"id":"45583f09.70958","type":"ui_group","name":"Skupina 4","tab":"cbeee18a.5894e","order":4,"disp":true,"width":"6","collapse":false},{"id":"cbeee18a.5894e","type":"ui_tab","name":"Projekt","icon":"dashboard","order":8,"disabled":false,"hidden":false}]