Flows/flows_TUI+AUDIO.json
[{"id":"142ea9de.0befd6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a3a91ed4.79f1","type":"debug","z":"142ea9de.0befd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":200,"wires":[]},{"id":"364a926d.46c48e","type":"websocket in","z":"142ea9de.0befd6","name":"","server":"","client":"2f4b642c.92b86c","x":120,"y":420,"wires":[["51485609.4e8c68","a3a91ed4.79f1"]]},{"id":"b05d88b1.7c9798","type":"ui_audio","z":"142ea9de.0befd6","name":"","group":"7bb4f3b3.0f5fec","voice":"English United Kingdom","always":true,"x":400,"y":380,"wires":[]},{"id":"51485609.4e8c68","type":"function","z":"142ea9de.0befd6","name":"","func":"if (msg.payload==\"\\\"TURN_OFF\\\"\"){msg.payload='Turn off.'; return msg;}\nif (msg.payload== \"\\\"TURN_ON\\\"\"){msg.payload = 'Turn on.'; return msg;}\nif (msg.payload==\"\\\"CHANGE_COLOR\\\"\"){msg.payload='Change color.'; return msg;}\nif (msg.payload==\"\\\"ALL_DEVICES\\\"\"){msg.payload= 'All devices mode.'; return msg;};\nif (msg.payload==\"\\\"ONE_DEVICE\\\"\"){msg.payload= 'One device mode.'; return msg;}\nif (msg.payload==\"\\\"BLINDS\\\"\") return msg;\nif (msg.payload==\"\\\"LEFT LIGHT\\\"\") return msg;\nif (msg.payload==\"\\\"RIGHT LIGHT\\\"\") return msg;\n\n\nelse return;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["a3a91ed4.79f1","b05d88b1.7c9798"]]},{"id":"2f4b642c.92b86c","type":"websocket-client","path":"ws://192.168.8.102:3000","tls":"","wholemsg":"false"},{"id":"7bb4f3b3.0f5fec","type":"ui_group","name":"Audio","tab":"9b0f8df5.8beb7","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b0f8df5.8beb7","type":"ui_tab","name":"Home audio","icon":"dashboard","disabled":false,"hidden":false}]