Flows/flows_GUI.json
[{"id":"f0e0ea53.186eb8","type":"tab","label":"flow_GUI","disabled":false,"info":""},{"id":"8e50a3fb.04201","type":"mqtt in","z":"f0e0ea53.186eb8","name":"AMI_TO_TUI/onoff","topic":"AMI_TO_TUI/onoff","qos":"2","datatype":"auto","broker":"25d635ed.16ee1a","x":150,"y":140,"wires":[["1901c943.702be7","125bb30b.02c87d","8eb1f50c.4863d8","71b0fbdb.443614"]]},{"id":"1901c943.702be7","type":"ui_gauge","z":"f0e0ea53.186eb8","name":"GIRO X","group":"42947d30.02fb84","order":8,"width":0,"height":0,"gtype":"gage","title":"GIRO X","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":100,"wires":[]},{"id":"125bb30b.02c87d","type":"ui_chart","z":"f0e0ea53.186eb8","name":"GIRO X","group":"450c0245.57e65c","order":11,"width":"7","height":"5","label":"GIRO X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"20","removeOlderPoints":"500","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":140,"wires":[[]]},{"id":"8eb1f50c.4863d8","type":"debug","z":"f0e0ea53.186eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"71b0fbdb.443614","type":"function","z":"f0e0ea53.186eb8","name":"","func":"var turn = parseFloat(msg.payload);\nflow.set('turn', turn);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["e122843c.66c858"]]},{"id":"e122843c.66c858","type":"debug","z":"f0e0ea53.186eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"output","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"92bd0404.cbaa18","type":"inject","z":"f0e0ea53.186eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":860,"wires":[["32daf4cd.6408bc","29cc0145.d44c0e","ff06f7db.71a2b8","243dd111.8898ae"]]},{"id":"c62cab6b.9ff8c8","type":"websocket out","z":"f0e0ea53.186eb8","name":"","server":"","client":"c67cc878.436548","x":1530,"y":720,"wires":[]},{"id":"32daf4cd.6408bc","type":"change","z":"f0e0ea53.186eb8","name":"TURNON/OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"turn","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":680,"wires":[["ebf2ec3e.1da0e"]]},{"id":"ebf2ec3e.1da0e","type":"switch","z":"f0e0ea53.186eb8","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":680,"wires":[["a58586f9.b65fb8"],["dc383324.c2c5b"]]},{"id":"a58586f9.b65fb8","type":"change","z":"f0e0ea53.186eb8","name":"TURN_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["7a06ce07.fc879"]]},{"id":"dc383324.c2c5b","type":"change","z":"f0e0ea53.186eb8","name":"TURN_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["7a06ce07.fc879"]]},{"id":"7a06ce07.fc879","type":"function","z":"f0e0ea53.186eb8","name":"Send only if change","func":"\nvar oldOnOff = flow.get('oldOnOff'); \nif (oldOnOff===undefined) {\n    oldOnOff=\"TURN_OFF\";\n    if(msg.payload == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n    }\n    if(msg.payload == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n    }\n}\nelse{\n    if(msg.payload == \"TURN_OFF\" && flow.get('oldOnOff') == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n        msg.payload = \"TURN_OFF\"; \n        return msg;\n    }\n    if(msg.payload == \"TURN_ON\" && flow.get('oldOnOff') == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n        msg.payload = \"TURN_ON\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":660,"wires":[["c62cab6b.9ff8c8","f1b586af.249b88"]]},{"id":"f1b586af.249b88","type":"debug","z":"f0e0ea53.186eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":600,"wires":[]},{"id":"29cc0145.d44c0e","type":"change","z":"f0e0ea53.186eb8","name":"IN/DECREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"progress","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":780,"wires":[["eda839c7.bc5508"]]},{"id":"cd7b782a.37ac68","type":"mqtt in","z":"f0e0ea53.186eb8","name":"AMI_TO_TUI/incdec","topic":"AMI_TO_TUI/incdec","qos":"2","datatype":"auto","broker":"25d635ed.16ee1a","x":970,"y":140,"wires":[["de047a75.88de68"]]},{"id":"de047a75.88de68","type":"function","z":"f0e0ea53.186eb8","name":"","func":"var progress = parseFloat(msg.payload);\nflow.set('progress', progress);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":200,"wires":[[]]},{"id":"f16a53c4.3945d","type":"change","z":"f0e0ea53.186eb8","name":"DECREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"DECREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":760,"wires":[["c62cab6b.9ff8c8"]]},{"id":"ff1693a0.f244a","type":"change","z":"f0e0ea53.186eb8","name":"INCREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"INCREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":800,"wires":[["c62cab6b.9ff8c8"]]},{"id":"eda839c7.bc5508","type":"switch","z":"f0e0ea53.186eb8","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":780,"wires":[["f16a53c4.3945d"],["ff1693a0.f244a"]]},{"id":"ff06f7db.71a2b8","type":"change","z":"f0e0ea53.186eb8","name":"COLORCHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"light","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":900,"wires":[["672deeeb.9f254"]]},{"id":"672deeeb.9f254","type":"switch","z":"f0e0ea53.186eb8","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":900,"wires":[["c9c41aa4.14db18"],["4cbb85c5.57920c"]]},{"id":"c9c41aa4.14db18","type":"change","z":"f0e0ea53.186eb8","name":"CHANGE_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"CHANGE_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":880,"wires":[["e138f6c8.ad1d08"]]},{"id":"4cbb85c5.57920c","type":"change","z":"f0e0ea53.186eb8","name":"KEEP_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEEP_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":920,"wires":[["e138f6c8.ad1d08"]]},{"id":"e138f6c8.ad1d08","type":"function","z":"f0e0ea53.186eb8","name":"Send only if change","func":"\nvar oldColor = flow.get('oldColor'); \nif (oldColor===undefined) {\n    oldColor=\"CHANGE_COLOR\";\n    if(msg.payload == \"CHANGE_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n    }\n     if(msg.payload == \"KEEP_COLOR\"){\n         flow.set('oldColor', \"KEEP_COLOR\"); \n     }\n}\nelse{\n    if(msg.payload == \"CHANGE_COLOR\" && flow.get('oldColor') == \"KEEP_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n        msg.payload = \"CHANGE_COLOR\"; \n        return msg;\n    }\n     if(msg.payload == \"KEEP_COLOR\" && flow.get('oldColor') == \"CHANGE_COLOR\"){\n         flow.set('oldColor', \"KEEP_COLOR\"); \n         msg.payload = \"KEEP_COLOR\"; \n         return msg;\n     }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":880,"wires":[["c62cab6b.9ff8c8"]]},{"id":"61df4b99.56fd84","type":"mqtt in","z":"f0e0ea53.186eb8","name":"AMI_TO_TUI/color","topic":"AMI_TO_TUI/color","qos":"2","datatype":"auto","broker":"25d635ed.16ee1a","x":1450,"y":140,"wires":[["64765fc9.becf8"]]},{"id":"64765fc9.becf8","type":"function","z":"f0e0ea53.186eb8","name":"","func":"var light = parseFloat(msg.payload);\nflow.set('light', light);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":200,"wires":[[]]},{"id":"797cf6fa.3243c8","type":"change","z":"f0e0ea53.186eb8","name":"ALL_DEVICES","rules":[{"t":"set","p":"payload","pt":"msg","to":"ALL_DEVICES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1000,"wires":[["f16632d3.a022d"]]},{"id":"9c429102.f42ac","type":"change","z":"f0e0ea53.186eb8","name":"ONE_DEVICE","rules":[{"t":"set","p":"payload","pt":"msg","to":"ONE_DEVICE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1040,"wires":[["f16632d3.a022d"]]},{"id":"2b55db62.a88374","type":"change","z":"f0e0ea53.186eb8","name":" MODE","rules":[{"t":"set","p":"payload","pt":"msg","to":"luc4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1020,"wires":[["b3fb6150.21a76","52e4c59.071e13c"]]},{"id":"b3fb6150.21a76","type":"switch","z":"f0e0ea53.186eb8","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1020,"wires":[["797cf6fa.3243c8"],["9c429102.f42ac"]]},{"id":"f16632d3.a022d","type":"function","z":"f0e0ea53.186eb8","name":"Send only if change","func":"\nvar oldMode =  flow.get('mode'); \nif (oldMode===undefined) {\n    oldMode=\"ALL_DEVICES\";\n    if(msg.payload == \"ALL_DEVICES\"){\n        flow.set('mode', \"ALL_DEVICES\"); \n    }\n}\nelse{\n    if(msg.payload == \"ALL_DEVICES\" && flow.get('mode') == \"ONE_DEVICE\"){\n        flow.set('mode', \"ALL_DEVICES\"); \n        msg.payload = \"ALL_DEVICES\"; \n        return msg;\n    }\n    if(msg.payload == \"ONE_DEVICE\" && flow.get('mode') == \"ALL_DEVICES\"){\n        flow.set('mode', \"ONE_DEVICE\"); \n        msg.payload = \"ONE_DEVICE\"; \n        return msg;\n    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1020,"wires":[[]]},{"id":"3d1a9aff.d2b586","type":"mqtt in","z":"f0e0ea53.186eb8","name":"AMI_TO_TUI/Mode","topic":"AMI_TO_TUI/luc4","qos":"1","datatype":"auto","broker":"25d635ed.16ee1a","x":710,"y":460,"wires":[["917176ba.89ffc8"]]},{"id":"917176ba.89ffc8","type":"function","z":"f0e0ea53.186eb8","name":"","func":"var luc4 = parseFloat(msg.payload);\nflow.set('luc4', luc4);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":927.6666870117188,"y":524.6666870117188,"wires":[[]]},{"id":"243dd111.8898ae","type":"change","z":"f0e0ea53.186eb8","name":"DEVICESELECT","rules":[{"t":"set","p":"payload","pt":"msg","to":"luc5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1180,"wires":[["4acc1dc4.16b704"]]},{"id":"435d4412.3f6d7c","type":"mqtt in","z":"f0e0ea53.186eb8","name":"AMI_TO_TUI/device","topic":"AMI_TO_TUI/device","qos":"1","datatype":"auto","broker":"25d635ed.16ee1a","x":1130,"y":420,"wires":[["398f102b.ada0b"]]},{"id":"398f102b.ada0b","type":"function","z":"f0e0ea53.186eb8","name":"","func":"var luc5 = msg.payload;\nflow.set('luc5', luc5);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1347.6666870117188,"y":484.66668701171875,"wires":[[]]},{"id":"52e4c59.071e13c","type":"debug","z":"f0e0ea53.186eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":1080,"wires":[]},{"id":"4acc1dc4.16b704","type":"function","z":"f0e0ea53.186eb8","name":"Send only if change","func":"\nvar oldDeviceSelected = flow.get('oldDeviceSelected'); \nif (oldDeviceSelected===undefined) {\n    flow.set('oldDeviceSelected', \"ALL_LIGHTS\"); \n}\nelse{\n    if(msg.payload == \"LEFT_LIGHT\" && flow.get('oldDeviceSelected') != \"LEFT_LIGHT\"){\n        flow.set('oldDeviceSelected', \"LEFT_LIGHT\"); \n        msg.payload = \"LEFT_LIGHT\"; \n        return msg;\n    }\n    if(msg.payload == \"RIGHT_LIGHT\" && flow.get('oldDeviceSelected') != \"RIGHT_LIGHT\"){\n        flow.set('oldDeviceSelected', \"RIGHT_LIGHT\"); \n        msg.payload = \"RIGHT_LIGHT\"; \n        return msg;\n    }\n    if(msg.payload == \"BLINDS\" && flow.get('oldDeviceSelected') != \"BLINDS\"){\n        flow.set('oldDeviceSelected', \"BLINDS\"); \n        msg.payload = \"BLINDS\"; \n        return msg;\n    }\n    if(msg.payload == \"ALL_LIGHTS\" && flow.get('oldDeviceSelected') != \"ALL_LIGHTS\"){\n        flow.set('oldDeviceSelected', \"ALL_LIGHTS\"); \n        msg.payload = \"ALL_LIGHTS\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":1180,"wires":[["c62cab6b.9ff8c8"]]},{"id":"25d635ed.16ee1a","type":"mqtt-broker","name":"HIVE MQ ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42947d30.02fb84","type":"ui_group","name":"GIRO ","tab":"3615a063.e5a4","order":1,"disp":true,"width":"9","collapse":true},{"id":"450c0245.57e65c","type":"ui_group","name":"GIRO 1","tab":"3615a063.e5a4","order":2,"disp":true,"width":"9","collapse":false},{"id":"c67cc878.436548","type":"websocket-client","path":"ws://localhost:3000","tls":"","wholemsg":"false"},{"id":"3615a063.e5a4","type":"ui_tab","name":"AMI","icon":"dashboard","disabled":false,"hidden":false}]