Flows/TUI.json
[{"id":"fb3a2db5.2316c","type":"tab","label":"TUI","disabled":false,"info":""},{"id":"4cb085ec.b092ec","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcX","topic":"AMI_TO_TUI/Accelerometer/x","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":100,"wires":[["14d0e428.35aedc","dceca24a.e227","42ab6843.ca7728"]]},{"id":"d814c8df.6461d8","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcY","topic":"AMI_TO_TUI/Accelerometer/y","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":140,"wires":[["8a02be83.dc5d1","472bbfd1.a61bf","352a648.cd7af9c"]]},{"id":"df611097.aace7","type":"mqtt in","z":"fb3a2db5.2316c","name":"AcZ","topic":"AMI_TO_TUI/Accelerometer/z","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":130,"y":180,"wires":[["73b1e9db.544678","5363d791.f5ac18","cd2b7b34.01fbd8"]]},{"id":"14d0e428.35aedc","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"5024f97d.ca5598","order":0,"width":0,"height":0,"label":"Acc X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"5","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":100,"wires":[[]]},{"id":"8a02be83.dc5d1","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"5024f97d.ca5598","order":0,"width":0,"height":0,"label":"Acc Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"5","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":140,"wires":[[]]},{"id":"73b1e9db.544678","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"5024f97d.ca5598","order":0,"width":0,"height":0,"label":"Acc Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"5","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":180,"wires":[[]]},{"id":"dceca24a.e227","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc X","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":80,"wires":[]},{"id":"472bbfd1.a61bf","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc Y","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":120,"wires":[]},{"id":"5363d791.f5ac18","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"9e28a92f.0e5918","order":0,"width":0,"height":0,"gtype":"gage","title":"Acc Z","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"cd2b7b34.01fbd8","type":"function","z":"fb3a2db5.2316c","name":"ToVarZ","func":"var AcZ = parseFloat(msg.payload);\nflow.set('AcZ', AcZ);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[[]]},{"id":"3e90e12c.fdc93e","type":"inject","z":"fb3a2db5.2316c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":440,"wires":[["fec15e75.a212a","ed3eeaed.7bd708","d3f4819e.ac1b7"]]},{"id":"fec15e75.a212a","type":"change","z":"fb3a2db5.2316c","name":"AcY-COLORCHANGE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":400,"wires":[["5a9d39aa.061b98"]]},{"id":"7645c5cc.1fe86c","type":"mqtt in","z":"fb3a2db5.2316c","name":"GyX","topic":"AMI_TO_TUI/Gyroscope/x","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":910,"y":100,"wires":[["631dfde9.3b0ce4","c6e07448.f46f08"]]},{"id":"886ea129.39924","type":"mqtt in","z":"fb3a2db5.2316c","name":"GyY","topic":"AMI_TO_TUI/Gyroscope/y","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":910,"y":140,"wires":[["123187e9.051b98","f022978c.ad98e8"]]},{"id":"282c6dac.e6c082","type":"mqtt in","z":"fb3a2db5.2316c","name":"GyZ","topic":"AMI_TO_TUI/Gyroscope/z","qos":"2","datatype":"auto","broker":"e1ad3e.c89042c","x":910,"y":180,"wires":[["f08c2503.5042f8","280f363e.738e0a"]]},{"id":"631dfde9.3b0ce4","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"b2537a10.e08468","order":0,"width":0,"height":0,"label":"Gyr X","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"10","removeOlderPoints":"10","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":100,"wires":[[]]},{"id":"123187e9.051b98","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"b2537a10.e08468","order":0,"width":0,"height":0,"label":"Gyr Y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"10","removeOlderPoints":"10","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":140,"wires":[[]]},{"id":"f08c2503.5042f8","type":"ui_chart","z":"fb3a2db5.2316c","name":"","group":"b2537a10.e08468","order":0,"width":0,"height":0,"label":"Gyr Z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"10","removeOlderPoints":"10","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1090,"y":180,"wires":[[]]},{"id":"c6e07448.f46f08","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyr X","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":80,"wires":[]},{"id":"f022978c.ad98e8","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyr Y","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":120,"wires":[]},{"id":"280f363e.738e0a","type":"ui_gauge","z":"fb3a2db5.2316c","name":"","group":"45583f09.70958","order":0,"width":0,"height":0,"gtype":"gage","title":"Gyr Z","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":160,"wires":[]},{"id":"42ab6843.ca7728","type":"function","z":"fb3a2db5.2316c","name":"ToVarX","func":"var AcX = parseFloat(msg.payload);\nflow.set('AcX', AcX);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[[]]},{"id":"ad804d9d.e22d1","type":"websocket out","z":"fb3a2db5.2316c","name":"","server":"","client":"c67cc878.436548","x":1410,"y":540,"wires":[]},{"id":"356b2391.b11c3c","type":"change","z":"fb3a2db5.2316c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"DECREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["ad804d9d.e22d1"]]},{"id":"aee10e6c.65772","type":"change","z":"fb3a2db5.2316c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"INCREASE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":620,"wires":[["ad804d9d.e22d1"]]},{"id":"ed3eeaed.7bd708","type":"change","z":"fb3a2db5.2316c","name":"AcX-IN/DECREASE","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcX","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["8eb86b9b.40a528"]]},{"id":"8eb86b9b.40a528","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"num"},{"t":"lt","v":"-8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":600,"wires":[["356b2391.b11c3c"],["aee10e6c.65772"]]},{"id":"352a648.cd7af9c","type":"function","z":"fb3a2db5.2316c","name":"ToVarY","func":"var AcY = parseFloat(msg.payload);\nflow.set('AcY', AcY);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[[]]},{"id":"d3f4819e.ac1b7","type":"change","z":"fb3a2db5.2316c","name":"AcY - TURNON/OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"AcY","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["b52dae28.99195"]]},{"id":"b52dae28.99195","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"8","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":500,"wires":[["51a7c829.931068"],["21dc2edb.c9cf82"]]},{"id":"51a7c829.931068","type":"change","z":"fb3a2db5.2316c","name":"TURN_OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":480,"wires":[["da92a176.3980e"]]},{"id":"21dc2edb.c9cf82","type":"change","z":"fb3a2db5.2316c","name":"TURN_ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"TURN_ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":520,"wires":[["da92a176.3980e"]]},{"id":"da92a176.3980e","type":"function","z":"fb3a2db5.2316c","name":"Send only if change","func":"\nvar oldOnOff = flow.get('oldOnOff'); \nif (oldOnOff===undefined) {\n    oldOnOff=\"TURN_OFF\";\n    if(msg.payload == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n    }\n    if(msg.payload == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n    }\n}\nelse{\n    if(msg.payload == \"TURN_OFF\" && flow.get('oldOnOff') == \"TURN_ON\"){\n        flow.set('oldOnOff', \"TURN_OFF\"); \n        msg.payload = \"TURN_OFF\"; \n        return msg;\n    }\n    if(msg.payload == \"TURN_ON\" && flow.get('oldOnOff') == \"TURN_OFF\"){\n        flow.set('oldOnOff', \"TURN_ON\"); \n        msg.payload = \"TURN_ON\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":500,"wires":[["ad804d9d.e22d1"]]},{"id":"5a9d39aa.061b98","type":"switch","z":"fb3a2db5.2316c","name":"IfOrient1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-8","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":400,"wires":[["4214492.e02a4b8"],["3429abc.fa4f154"]]},{"id":"4214492.e02a4b8","type":"change","z":"fb3a2db5.2316c","name":"CHANGE_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"CHANGE_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[["8dc54515.bf6bc8"]]},{"id":"3429abc.fa4f154","type":"change","z":"fb3a2db5.2316c","name":"KEEP_COLOR","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEEP_COLOR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["8dc54515.bf6bc8"]]},{"id":"8dc54515.bf6bc8","type":"function","z":"fb3a2db5.2316c","name":"Send only if change","func":"\nvar oldColor = flow.get('oldColor'); \nif (oldColor===undefined) {\n    oldColor=\"CHANGE_COLOR\";\n    if(msg.payload == \"CHANGE_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n    }\n    if(msg.payload == \"KEEP_COLOR\"){\n        flow.set('oldColor', \"KEEP_COLOR\"); \n    }\n}\nelse{\n    if(msg.payload == \"CHANGE_COLOR\" && flow.get('oldColor') == \"KEEP_COLOR\"){\n        flow.set('oldColor', \"CHANGE_COLOR\"); \n        msg.payload = \"CHANGE_COLOR\"; \n        return msg;\n    }\n    if(msg.payload == \"KEEP_COLOR\" && flow.get('oldColor') == \"CHANGE_COLOR\"){\n        flow.set('oldColor', \"KEEP_COLOR\"); \n        msg.payload = \"KEEP_COLOR\"; \n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":400,"wires":[["ad804d9d.e22d1","c6c228bd.379ae8"]]},{"id":"c6c228bd.379ae8","type":"debug","z":"fb3a2db5.2316c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":420,"wires":[]},{"id":"e1ad3e.c89042c","type":"mqtt-broker","name":"Mqtt broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5024f97d.ca5598","type":"ui_group","name":"Skupina 1","tab":"cbeee18a.5894e","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e28a92f.0e5918","type":"ui_group","name":"Skupina 2","tab":"cbeee18a.5894e","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2537a10.e08468","type":"ui_group","name":"Skupina 3","tab":"cbeee18a.5894e","order":3,"disp":true,"width":"6","collapse":false},{"id":"45583f09.70958","type":"ui_group","name":"Skupina 4","tab":"cbeee18a.5894e","order":4,"disp":true,"width":"6","collapse":false},{"id":"c67cc878.436548","type":"websocket-client","path":"ws://localhost:3000","tls":"","wholemsg":"false"},{"id":"cbeee18a.5894e","type":"ui_tab","name":"Projekt","icon":"dashboard","order":8,"disabled":false,"hidden":false}]